// font --------------------------------------------
$font_oswald: 'Oswald', sans-serif;
$font_open_sans: 'Open Sans', sans-serif;

$font: $font_open_sans;  
$font-FontAwesome: 'FontAwesome';

// color -------------------------------------------------
$color: #000; 